<aside class="main-sidebar">
  <section class="sidebar" style="height: auto;">

    <ul class="sidebar-menu tree" data-widget="tree">

      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Usuario</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a [routerLink]="['/usuario-list']"><i class="fa fa-circle-o"></i> Lista </a></li>
          <li><a [routerLink]="['/usuario-novo']"><i class="fa fa-circle-o"></i> Novo Usuario</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Ticket</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="../forms/general.html"><i class="fa fa-circle-o"></i> Lista </a></li>
          <li><a href="../forms/advanced.html"><i class="fa fa-circle-o"></i> Novo Ticket</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Resumo</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="../forms/general.html"><i class="fa fa-circle-o"></i> Visualizar </a></li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
